@import "./utils.scss";
@import "./components/header.scss";
@import "./components/home.scss";
@import "./components/about.scss";
@import "./components/portafolio.scss";
@import "./components/contact.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.ocultar {
  display: none;
}

.transition_house {
  position: fixed;
  height: 100px;
  width: 100px;
  background-color: black;
  z-index: 11;
  opacity: 1;
  bottom: 100px;
  right: 300px;
  border-radius: 100%;
}

@keyframes entrarcasa {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  70% {
    transform: translate(-50%, -50%) scale(30);
  }
  100% {
    opacity: 0;
  }
}
.aumentar {
  animation: entrarcasa 4s forwards;
}

.container_house {
  width: 100%;
  .personaje{
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    background-image: url('../../assets/img/temporal/alfilder.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
