.contact{
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/img/temporal/fondocontact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}