.contact{
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/img/temporal/fondocontact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 2rem;

}

.contact__head{
    margin-top: 2rem;
}

.contact__cuerpo{
    width: 70%;
    margin: auto;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.5);
}

.contact__titulo{
    p{
        padding: 1em 0;
    }
}

.contenedor-btn {
    margin-top: 1.5em;
}

.button-contacto {
    position: relative;
    padding: 1.5em 2.5em;
    display: flex;
   // justify-content: center;
  //  text-align: center;
  //  align-items: center;
    border-radius: 5px;
    cursor: pointer;
    .texto {
        margin-right: 30px;
        padding-top: 1px;
    }
    .flecha {
       // display: block;
        position: absolute;
        top: 14px;
        left: 160px;
        font-size: 1.8em;
    }
    &:hover .texto {
        animation: opacityanim 0.5s ease-in-out forwards;
        color: $colorPrimario;
    }
    &:hover .flecha {
        animation: moveflecha 0.2s ease-in-out forwards;
        color: $colorPrimario;
    }
}

@keyframes opacityanim {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveflecha {
    from {
        left: 160px;
    }
    to {
        left: 170px;
    }
}

.contenedor-contacto {
    width: auto;
    margin-top: 1em;
}

.row {
    display: flex;
    justify-content: space-between;
}

.group-val {
    width: 48%;
    margin-top: 0;
    input {
        width: 100%;
        padding: 1.1em 1.2em;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 1em;
        &:focus {
            outline: none;
            border: 2px solid $colorPrimario;
            color: $colorPrimario;
            &::placeholder {
                color: black;
            }
        }
    }
}

.group-val2 {
    width: 100%;
    margin-top: 1.5em;
    textarea {
        width: 100%;
        padding: 1.1em 1.2em;
        font-size: 1.1em;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        &:focus {
            outline: none;
            border: 2px solid $colorPrimario;
            color: $colorPrimario;
            &::placeholder {
                color: black;
            }
        }
    }
}