.home {
  height: 100vh;
  width: 100%;
  // background-image: url(../../../assets/img/fondo_web.png);
  // background-size: cover;
  position: relative;
  z-index: 1;
}

.home__container {
  padding: 1em;
  width: 400px;
  position: absolute;
  top: 200px;
  left: 100px;
  background-color: rgba(100, 2, 1, 0.5);
}

.home__imagen {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 2s ease;
  img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
}

// circulo negro
.transition_house {
  position: fixed;
  height: 100px;
  width: 100px;
  background-color: black;
  z-index: 11;
  opacity: 1;
  bottom: 100px;
  right: 300px;
  border-radius: 100%;
}

@keyframes entrarcasa {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  70% {
    transform: translate(-50%, -50%) scale(30);
  }
  100% {
    opacity: 0;
  }
}
.aumentar {
  animation: entrarcasa 4s forwards;
}

// flechap pulsa aqui
.pulsaaqui {
  position: absolute;
  width: 150px;
  height: 100px;
  z-index: 2;
  animation: flecha 2s infinite ease;
  text-align: center;
  img {
    width: 60px;
    height: 60px;
    transform: rotate(45deg);
    margin-left: 50px;
  }
}

@keyframes flecha {
  0% {
    right: 350px;
    bottom: 200px;
  }
  50% {
    right: 370px;
    bottom: 230px;
  }
  100% {
    right: 350px;
    bottom: 200px;
  }
}
