.portafolio{
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/img/temporal/fondoportafolio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.portafolio__container{
    position: relative;
    height: 100%;
    .porta{
        position: absolute;
        width: 70px;
        height: 70px;
        background-color: grey;
    }
    .portafolio1{
        top: 10%;
        left: 30%;
    }
    .portafolio2{
        top: 40%;
        left: 15%;
    }
    .portafolio3{
        top: 30%;
        left: 70%;
    }
    .portafolio4{
        top: 10%;
        left: 90%;
    }
}


// PORTAFOLIO MOSTRAR
.imagen-light {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* para centrar la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    /* ponemos el translate para ocultar la imagen y luego mostrarlo en js */
    transform: translate(100%);
    transition: transform .2s ease-in-out;
    z-index: 15;
}


/* lo llamamos en js */

.show {
    transform: translate(0);
}

.agregar-imagen {
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    /* animacion con dos segundos de retraso */
    transform: scale(0);
    transition: transform .3s .2s;
}


/* se crea una clase nueva para js */

.showImage {
    transform: scale(1);
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}